---
layout: default
post_class: post-template page-template
---

<nav class="main-nav clearfix">
    <a class="back-button icon-arrow-left" href="{{ site.url }}">Home</a>
    <a class="subscribe-button icon-feed" href="{{ site.url }}feed.xml">Subscribe</a>
</nav>


<main class="content" role="main">
    <article class="post">
        <h1 class="post-title" style="text-transform:uppercase;">{{ page.title }}</h1>

        <section class="post-content">
            {{content}}
        </section>

    </article>

</main>
